body {
	text-align: center;
}

.formLabels {
	font-size: 2em;
}

.homePageBtn {
	height: 5em !important;
	font-size: 2em !important;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.btnRow {
	margin-top: 2em;
	margin-bottom: 2em;
}

.title {
	margin-top: 1em;
}

.confirmMessage {
	color: red;
}

#deleteBtn {
	margin-top: 1em;
}